<li id="micropost-<%= comment.id %>" class="cmt_item">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user">
    <strong><%= link_to comment.user.name, comment.user %></strong>
  </span>
  <span class="timestamp pull-right">
    <small><%= time_ago_in_words(comment.created_at) %>.</small>
  </span>
  <span class="content cmt_body"><%= simple_format comment.body %></span>
</li>
