<% provide :title, @entry.title.titleize %>
<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info" %>
  </aside>
  <div class="col-md-8">
    <%= render "shared/entry" %>
    <hr>
    <p class="cmt_count">
      <b><i class="fa fa-comments-o"></i> <%= pluralize(@cmt_items.count, 'comment') %></b>
    </p>
    <div class="cmt_wrapper">
      <%= render "comments/comment_form" if logged_in? %>
      <%= render "shared/comment" %>
    </div>
  </div>
</div>
