<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="entries" class="stat">
      <%= @user.entries.count %>
    </strong>
    <%= t "entries.show.entries_count" %>
  </a>
  <a href="#">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "entries.show.lb_following" %>
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "entries.show.lb_follower" %>
  </a>
</div>
