<section class="user_info">
  <h1>
    <a href="<%= user_url @user %>">
      <%= gravatar_for @user %>
      <%= @user.name %>
    </a>
  </h1>
  <%= render "shared/stats" %>
</section>
<section>
  <%= render "shared/follow_form" if logged_in? %>
</section>
